<header class="header">
  <div class="header__top">
    <div class="wrap">
      <div class="container-fluid">
        <div class="header__logo">
          <a href="/">site name</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="wrap">
      <div class="container-fluid">
        <app-header-menu></app-header-menu>
      </div>
    </div>
  </div>
</header>