<h1>Курс валют в банках</h1>
<div class="bankex-switch">
  <ul>
    <li *ngFor="let el of bankexSwitchEls" (click)="changeCurrency(el.id)" [ngClass]="{active: bankexShowCssClass[el.id]}">
      {{el.title}} ({{el.id | uppercase}})
    </li>
  </ul>
</div>
<div class="bankex-time">Время обновления {{date | date:"dd/MM/yyyy - H:m"}}</div>
<div class="bankex">
  <table [ngClass]="{'table': true,
                    'table-striped': true,
                    'bankex__sh-usd': bankexShowCssClass.usd,
                    'bankex__sh-eur': bankexShowCssClass.eur,
                    'bankex__sh-rub': bankexShowCssClass.rub}"
         #bankexTable>
    <thead>
      <tr>
        <th>
          <div class="form-el">
            <input #inputSearch class="form-control" (input)="search(inputSearch.value)" type="text" placeholder="Поиск по названию">
          </div>
        </th>
        <th>Покупка</th>
        <th>Продажа</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let bank of filteredBanks">
        <tr *ngIf="bank.orgType == 1">
          <td class="bankex__title-td">
            <span class="bankex__logo bankex__logo_id_{{bank.oldId}}"></span>
            <span class="bankex__title">{{bank.title}}</span>
          </td>
          <td class="bankex__bid-td">
            <div class="bankex__rate bankex__usd">{{bank.currencies.USD.bid | number: '1.2-3'}}</div>
            <div class="bankex__rate bankex__eur">{{bank.currencies.EUR.bid | number: '1.2-3'}}</div>
            <div class="bankex__rate bankex__rub">{{bank.currencies.RUB.bid | number: '1.2-3'}}</div>
          </td>
          <td class="bankex__ask-td">
            <div class="bankex__rate bankex__usd">{{bank.currencies.USD.ask | number: '1.2-3'}}</div>
            <div class="bankex__rate bankex__eur">{{bank.currencies.EUR.ask | number: '1.2-3'}}</div>
            <div class="bankex__rate bankex__rub">{{bank.currencies.RUB.ask | number: '1.2-3'}}</div>
          </td>
        </tr>
        </ng-container>
    </tbody>
  </table>
</div>
