.header__bottom{
  background: $scooter;
  margin-bottom: 35px;
}
.top-menu{
  li{
    list-style: none;
    color: $white;
    a{
      color: $white;
      display: block;
      height: 45px;
      padding: 0 15px;
      line-height: 45px;
    }
  }
  ul{
    display: flex;
  }
}