<div class="mod-forex">
  <h3>Курс Евро на Forex</h3>
  <ul>
    <li class="mod-forex__item" *ngFor="let rate of rates">
      <span class="mod-forex__code">{{rate.code}}</span> <span>{{rate.rate}}</span>
    </li>
  </ul>
  <div class="mod-forex__date">{{date | date:"dd/MM/yyyy - H:m"}}</div>
</div>
