<h1>Конвертер валют</h1>
<div class="convert row">
  <div class="convert__l-bl col-md-6">
    <h4>Отдаем</h4>
    <div class="form-group">
    <select #selectSet class="form-control" (change)="onChange()">
      <option [value]="1" selected>UAH - Украинская гривна</option>
      <option *ngFor="let currency of nbuCurrencies"
              [value]="currency.rate">
        {{currency.cc + ' - ' + currency.txt}}
      </option>
    </select>
    </div>
    <div class="form-group">
      <input #inputSumm type="number" class="form-control"  placeholder="0.00" (input)="onChange()">
    </div>

  </div>
  <div class="convert__r-bl col-md-6">
    <h4>Получаем</h4>
    <div class="form-group">
    <select #selectGet class="form-control" (change)="onChange()">
      <option [value]="1" selected>UAH - Украинская гривна</option>
      <option *ngFor="let currency of nbuCurrencies"
              [value]="currency.rate">
        {{currency.cc + ' - ' + currency.txt}}
      </option>
    </select>
      </div>
    <div class="form-group">
      <div class="form-control">{{result}}</div>
    </div>
  </div>
</div>
