<div class="globwrap">
    <app-header></app-header>
    <main>
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <router-outlet></router-outlet>
                    </div>
                    <div class="col-lg-3">
                        <div class="sidebar">
                            <app-forexrates></app-forexrates>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<app-footer></app-footer>

