<h1>Курс НБУ</h1>
<div class="cryptoex">
  <table class="table table-striped">
    <thead>
    <tr>
      <th colspan="2">
        <div class="form-el">
          <input #inputSearch class="form-control" (input)="search(inputSearch.value)" type="text" placeholder="Поиск по названию">
        </div>
      </th>
      <th>Курс</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let currency of filteredNbuCurrencies">
      <td class="nbu_id">{{currency.cc}}</td>
      <td class="cryptoex__title-td">
        <span class="nbu__title">{{currency.txt}}</span>
      </td>
      <td class="cryptoex__rate">
        <span>{{currency.rate}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
